.svg-arrow-dims { width: 24px; height: 24px; }
.svg-asia-dims { width: 44px; height: 44px; }
.svg-burger-dims { width: 44px; height: 38.672px; }
.svg-calling-dims { width: 24px; height: 24px; }
.svg-cart-dims { width: 20.001px; height: 19.333px; }
.svg-delivery-dims { width: 34px; height: 33.605px; }
.svg-dish-dims { width: 44px; height: 43.489px; }
.svg-double-quotes-dims { width: 24px; height: 19.217px; }
.svg-facebook-dims { width: 9.977px; height: 20.526px; }
.svg-instagram-dims { width: 19.5px; height: 19.5px; }
.svg-location-dims { width: 24px; height: 24px; }
.svg-logo-dims { width: 200px; height: 39px; }
.svg-mail-dims { width: 24px; height: 24px; }
.svg-pizza-dims { width: 44px; height: 44px; }
.svg-restaurant-dims { width: 34px; height: 34px; }
.svg-sandwich-dims { width: 44px; height: 44px; }
.svg-search-dims { width: 20.267px; height: 20.502px; }
.svg-telegram-dims { width: 14.445px; height: 13.649px; }
.svg-timer-dims { width: 34px; height: 34px; }
.svg-twitter-dims { width: 20.526px; height: 16.676px; }