<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__content-block">
        <a class="logo" href="#">
          <picture>
            <source srcset="images/logo.avif" type="image/avif">
            <source srcset="images/logo.webp" type="image/webp">
            <img src="images/logo.png" alt="Логотип">
          </picture>
          <noscript>
            <img src="images/logo.png" alt="Логотип">
          </noscript>
        </a>
  
        <form class="footer__subscribe-form" action="#">
          <label class="label-email sr-only" for="email">Впишіть свою Мейл Пошту</label>
          <input class="footer__email-input email-input" type="text" id="email" placeholder="Ваш email">
          <button class="btn icon-button" type="submit">
            Підписатися
          </button>
        </form>
      </div>
      
      <div class="footer__content-block">
        <ul class="footer__navigation-list">
          <li class="footer__navigation-item">
            <a class="footer__navigation-link" href="#">Як це працює</a>
          </li>
          <li class="footer__navigation-item">
            <a class="footer__navigation-link" href="#">Продукти</a>
          </li>
          <li class="footer__navigation-item">
            <a class="footer__navigation-link" href="#">Страви</a>
          </li>
          <li class="footer__navigation-item">
            <a class="footer__navigation-link" href="#">Меню</a>
          </li>
          <li class="footer__navigation-item">
            <a class="footer__navigation-link" href="#">Про нас</a>
          </li>
          <li class="footer__navigation-item">
            <a class="footer__navigation-link" href="#">Новини</a>
          </li>
          <li class="footer__navigation-item">
            <a class="footer__navigation-link" href="#">Партнери</a>
          </li>
          <li class="footer__navigation-item">
            <a class="footer__navigation-link" href="#">ЧаПи</a>
          </li>
          <li class="footer__navigation-item">
            <a class="footer__navigation-link" href="#">Застосунок</a>
          </li>
          <li class="footer__navigation-item">
            <a class="footer__navigation-link" href="#">Блог</a>
          </li>
          <li class="footer__navigation-item">
            <a class="footer__navigation-link" href="#">Что нового?</a>
          </li>
          <li class="footer__navigation-item">
            <a class="footer__navigation-link" href="#">Мапа сайту</a>
          </li>
        </ul>
      </div>
  
      <div class="footer__content-block footer__contact">
        <ul class="footer__contact-list">
          <li class="footer__contact-item">
            <a class="footer__contact-link" href="https://maps.app.goo.gl/BSuABWyTKY6Ea4Av6">вул. Т.Г.Шевченка, 1</a>
          </li>
          <li class="footer__contact-item">
            <a class="footer__contact-link" href="tel:+380501112233">380501112233</a>
          </li>
          <li class="footer__contact-item">
            <a class="footer__contact-link" href="mailto:support@sfood.com">support@sfood.com</a>
          </li>
        </ul>
        <ul class="footer__media">
          <li class="footer__media-item">
            <a class="footer__media-link" href="#"></a>
          </li>
          <li class="footer__media-item">
            <a class="footer__media-link" href="#"></a>
          </li>
          <li class="footer__media-item">
            <a class="footer__media-link" href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__copy">&#169 2023 Simple Food</p>
  </div>
</footer>